##################################################################################################
#This file created by Huy Nguyen
#Updated date: 6/30/2024
##################################################################################################

# Compilation option for all testcase (Not supported yet)
cmp_opts =

# Coverage option: on | off (Not supported yet)
cov = on

# Dump wave option: on | off (Not supported yet)
wave = on

# To check pass condition in log file, format as string 
pass_key_word = "TEST PASSED"

# To check fail condition in log file, format as string 
fail_key_word = "TEST FAILED"

# Set verbosity option for UVM testbench (Not supported yet)
pl = UVM_LOW

tc_list {
  full_duplex_random_test , run_times = 1 , run_opts=;
  half_trans_baud_4800_test , run_times = 1 , run_opts=;
  half_trans_baud_9600_test , run_times = 1 , run_opts=;
  half_trans_baud_57600_test , run_times = 1 , run_opts=;
  half_trans_baud_115200_test , run_times = 1 , run_opts=;
  half_trans_baud_random_test , run_times = 1 , run_opts=;
  half_trans_5_bit_test , run_times = 1 , run_opts=;
  half_trans_6_bit_test , run_times = 1 , run_opts=;
  half_trans_7_bit_test , run_times = 1 , run_opts=;
  half_trans_8_bit_test , run_times = 1 , run_opts=;
  half_trans_9_bit_test , run_times = 1 , run_opts=;
  half_trans_none_parity_test , run_times = 1 , run_opts=;
  half_trans_odd_parity_test , run_times = 1 , run_opts=;
  half_trans_even_parity_test , run_times = 1 , run_opts=;
  half_trans_1_stop_bit_test , run_times = 1 , run_opts=;
  half_trans_2_stop_bit_test , run_times = 1 , run_opts=;
  half_rcv_baud_4800_test , run_times = 1 , run_opts=;
  half_rcv_baud_9600_test , run_times = 1 , run_opts=;
  half_rcv_baud_57600_test , run_times = 1 , run_opts=;
  half_rcv_baud_115200_test , run_times = 1 , run_opts=;
  half_rcv_baud_random_test , run_times = 1 , run_opts=;
  half_rcv_5_bit_test , run_times = 1 , run_opts=;
  half_rcv_6_bit_test , run_times = 1 , run_opts=;
  half_rcv_7_bit_test , run_times = 1 , run_opts=;
  half_rcv_8_bit_test , run_times = 1 , run_opts=;
  half_rcv_9_bit_test , run_times = 1 , run_opts=;
  half_rcv_none_parity_test , run_times = 1 , run_opts=;
  half_rcv_odd_parity_test , run_times = 1 , run_opts=;
  half_rcv_even_parity_test , run_times = 1 , run_opts=;
  half_rcv_1_stop_bit_test , run_times = 1 , run_opts=;
  half_rcv_2_stop_bit_test , run_times = 1 , run_opts=;
  full_baud_4800_test , run_times = 1 , run_opts=;
  full_baud_9600_test , run_times = 1 , run_opts=;
  full_baud_57600_test , run_times = 1 , run_opts=;
  full_baud_115200_test , run_times = 1 , run_opts=;
  full_data_5_bit_test , run_times = 1 , run_opts=;
  full_data_6_bit_test , run_times = 1 , run_opts=;
  full_data_7_bit_test , run_times = 1 , run_opts=;
  full_data_8_bit_test , run_times = 1 , run_opts=;
  full_data_9_bit_test , run_times = 1 , run_opts=;
  full_parity_none_test , run_times = 1 , run_opts=;
  full_parity_odd_test , run_times = 1 , run_opts=;
  full_parity_even_test , run_times = 1 , run_opts=;
  full_stop_1_bit_test , run_times = 1 , run_opts=;
  full_stop_2_bit_test , run_times = 1 , run_opts=;
  error_baud_test , run_times = 1 , run_opts=;
  error_stop_bit_test , run_times = 1 , run_opts=;
  error_parity_bit_test , run_times = 1 , run_opts=;
}
